nav{
    width: 90%;
	color: black(236, 3, 3);
    text-align: right;
	padding: 30px;
	
}

.topo-e{
    border-top: 50cm;
    font-size: 13px;
    text-align: right;
    float: left;
	width: 39%;
	background:black;
	color:  white;
}

.topo-d{
    font-size: 13px;
    text-align: left;
    float: left;
	width:39%;
	background:black;
	color:  white;
}

.topo-m{
    font-size: 13px;
    text-align: center;
    width: 20%;
    float: left;
    background: black;
    color: white;
}